<% layout('layouts/boilerplate')%> 

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4">Lånedatorer</span>
  </a>


  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/RentComputers/" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="/RentComputers/new" class="nav-link">Lägg till ny dator</a></li>
    <li class="nav-item"><a href="/RentComputers/remove" class="nav-link">Ta bort dator</a></li>
  </ul>
</header>






<div class="container text-center">
    <div class="row">
      <div class="col">
        <table class="table">
            <thead>
              <h2>Hos IT</h2>
              <tr>
                <th scope="col">Inventarie</th>
                <th scope="col">Årsmodell</th>
                <th scope="col">Namn</th>
                <th scope="col">Ärende nummer</th>
              </tr>
            </thead>
            <tbody>
              <% for(let computer of rentComputer){ %> 
                <% if(computer.status == false){ %> 
                <form action="/RentComputers/<%=computer._id%>?_method=PUT" method="POST">
                  
                  <th scope="row"><%=computer.inventoryID%></th>
                  <td><%=computer.year%></td>
                  <td><input class="form-control" type="text" id="name" name="rentcomputers[name]" required></td>
                  <td><input class="form-control" type="number" id="number" name="rentcomputers[errandNumber]" required></td>
                  <td><input type="hidden" id="status" name="rentcomputers[status]" value="true" /></td>
                  <td><button type="submit" class="btn btn-success btn-sm">></button></td>
            </form>
              </tr>
                <% } %>
              <% } %> 
            </tbody>
          </table>
      </div>

      <div class="col">
        <table class="table">
            <thead>
              <h2>Utlånade datorer</h2>
              <tr>
                <th scope="col">Inventarie</th>
                <th scope="col">Årsmodell</th>
                <th scope="col">Namn</th>
                <th scope="col">Ärende nummer</th>
              </tr>
            </thead>
            <tbody>
              <% for(let computer of rentComputer){ %>
                <% if(computer.status == true){ %> 
                  <form action="/RentComputers/<%=computer._id%>?_method=PUT" method="POST">
              <tr>
                <th scope="row"><%=computer.inventoryID %></th>
                <td><%=computer.year%> </td>
                <td><%=computer.name%> </td>
                <td><%=computer.errandNumber%> </td>
                <input type="hidden" id="status" name="rentcomputers[status]" value="false" />
                <td>
                  <button type="submit" class="btn btn-danger btn-sm">Återlämna</button>
                  </form>
                </td>
              </tr>
              <% } %>
              <% } %> 
            </tbody>
          </table>
      </div>
  </div>

